<% layout('layouts/main') %>

<div class="container my-5">
  <div class="alert alert-danger">
    <h4>Error</h4>
    <p><%= message || 'Something went wrong' %></p>
    <a href="/" class="btn btn-primary mt-3">Go to Home Page</a>
  </div>
</div>